body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: rgb(30, 26, 26);
    background-color: white;
    text-align: center;
}

header, footer {
    background-color: rgb(193, 191, 191);
    color: rgb(82, 5, 82);
}

h1 {
    font-size: 24px;
}

h1, h2, h3 {
    text-align: center;
}

.special-text {
    color: orchid;
}

.content p {
    font-size: 18px;
}

img {
    display: block;
    margin: auto;
    max-width: 100%;
}

nav .active, nav a:hover {
    background-color: blue;
}

article > p {
    text-align: justify;
}