body {
    font-size: 16px;
    color: rgb(30, 26, 26);
    background-color: white;
    text-align: center;
}

header, footer {
    background-color: rgb(193, 191, 191);
    color: rgb(82, 5, 82);
}

h1 {
    font-size: 24px;
}

.special-text {
    color: orchid;
}

.content p {
    font-size: 18px;
}

img {
    display: block;
    margin: auto;
}

.link, .link-active {
    background-color: blue;
}

div.link > p {
    color: pink;
}